<ion-view title="Atlanta">
    <ion-content padding="true" class="has-header">
        <a style="display: inline-block; width: 100%; height: auto;" href="#/page5">
            <img src="/img/YEC8b5x0QYyz5EqMB89s_hiking.jpeg" width="100%" height="auto">
        </a>
        <img src="/img/S1sdqsF7TRVy1hl40hza_Tom-Horton-Nightlife-Photograhy-012.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
        <img src="/img/5b9HnNSSD6r4brEVH52A_coke.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
    </ion-content>
</ion-view>