<ion-view title="Interests">
    <ion-content padding="true" class="has-header">
        <div>
            <p>What do you want to do?</p>
        </div>
        <form class="list">
            <ion-checkbox>Hiking</ion-checkbox>
            <ion-checkbox>Fishing</ion-checkbox>
            <ion-checkbox>Restaurants</ion-checkbox>
            <ion-checkbox>Nightlife</ion-checkbox>
            <ion-checkbox>Stuff</ion-checkbox>
            <ion-checkbox>Stuff</ion-checkbox>
            <ion-checkbox>Stuff</ion-checkbox>
        </form>
        <button class="button button-positive button-block ">Tap me!</button>
    </ion-content>
</ion-view>