<ion-view>
    <ion-content padding="true" scroll="false">
    
        <h1>Cityfi</h1>

        <a href="#/page2" class="button button-positive button-block  icon-left ion-social-facebook button-full">Connect With Facebook</a>
        <a href="#/page2" class="button button-calm   icon-left ion-social-twitter button-full">Connect With Twitter</a>
    </ion-content>
 <style type="text/css">
 h1 {
  vertical-align: top;
  text-align: center;
}

.scroll {
	vertical-align: bottom;
  text-align: center;

}


 </style>


</ion-view>